<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RemoteBot.Properties.RemoteBot" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RemoteBot.Properties.RemoteBot>
            <setting name="ReportMinute" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ReportHour" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="ReconnectPeriod" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>[your token]</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>[your bot name]</value>
            </setting>
            <setting name="TelegramUserName" serializeAs="String">
                <value>[your username]</value>
            </setting>
        </RemoteBot.Properties.RemoteBot>
    </applicationSettings>
</configuration>